*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.navbar-links{
    display: flex;
    /* column-gap: 40px; */
    
}
/* .navbar-links a{
    text-decoration: none;
    color: #1D232C;
} */

