body{
    padding: 0;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
}
.navbar a{
    text-decoration: none;
    color: #60BF81    ;
    font-weight: bolder;
    background-color: #000;
}
.left > * {
    display: inline-block;
    margin-right: 30px; 
}
.header{
    height: 500px;
    background-image: url(../Assets/HomePage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.about{
    background-color: #93D94E;
    color: green;
    height: 500px;
}
img{
    width: 100px;
    height: 100px;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10px;
    color: #347355;
}
.show-btn{
    background-color: #93D94E;
    color: #000;
    border-radius: 50px;
    height: 10%;
    width: 19%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.about{
    background-color: #93D94E;
    color: rgb(6, 51, 6);
    overflow: auto;
    width: 100%;
    height: 500px;

}
.flexbox{
    display: flex;
    justify-content: space-evenly;
}
.img{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;    
}
.market{
    width: 15rem;
    height: 15rem;
    margin-right: 100px;
    border-radius: 15px 0px;
}
.tomato{
    position: absolute;
    margin-top: 30%;
    width: 15rem;
    height: 15rem;
    margin-left: 20%;
    border-radius: 15px 0px;
}
.content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    text-align: center;
    font-size: 20px;
    word-spacing:5px;
}
.Learnmore{
    background-color: rgb(74, 147, 74);
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 20px/50%;
    border: 0;
    justify-content: center;
    margin-top: 10px;
    cursor:pointer
}
.Learnmore:hover{
    background-color:rgb(120, 184, 108);
}

