body{
    padding: 0;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
}
.navbar a{
    text-decoration: none;
    color: black   ;
    font-weight: bolder;
}
.navbar-right > * {
    display: inline-block;
    margin-right: 30px; 
}
.navbar-left{
    cursor: pointer;
}
.header-cart-icon{
    width: 20px;
    background-color: black;
}

.hb-close {
    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
}

.hb-close::before,
.hb-close::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 50%;
    background-color: black;
}

.hb-close::before {
    transform: translateX(-50%) rotate(45deg);
}

.hb-close::after {
    transform: translateX(-50%) rotate(-45deg);
}


.HamburgerMenu {
    display: none;
}
@media screen and (max-width: 767px) {
    .header {
        height: 100px;
    }
    .HamburgerMenu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .line {
        height: 3px;
        width: 20px;
        margin: 1px;
        border-radius: 5px;
        background-color: #000;
    }
    .navbar-right {
        display: none;
    }
    .show {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .market,
    .tomato{
        display: none;
    }
    /* .content{
              background-image: url('./Assets/market.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;   
    } */
    .content span{
        font-size: 25px;
        /* background-image: url('./Assets/market.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
    }
    .content-title{
        margin-top: 60px;
    }
}

.header{
    background-image: url(/Assets/HeaderImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 500px;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10px;
    color: #347355;
}
.show-btn{
    background-color: #93D94E;
    color: #000;
    border-radius: 50px;
    height: 10%;
    width: 19%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.about{
    background-color: #93D94E;
    color: rgb(6, 51, 6);
    overflow: auto;
    width: 100%;
    height: 500px;

}
.flexbox{
    display: flex;
    justify-content: space-evenly;
}
.img{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;    
}
.market{
    width: 15rem;
    height: 15rem;
    border-radius: 15px 0px;
}
.tomato{
    position: absolute;
    margin-top: 30%;
    width: 15rem;
    height: 15rem;
    margin-left: 20%;
    border-radius: 15px 0px;
}
.content{
    margin-top: 20px;
    margin-right: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    text-align: center;
    font-size: 30px;
    word-spacing:5px;
}
.content-title{
    font-size: 15px;
    padding: 5% 0%;
}
.Learnmore{
    background-color: rgb(74, 147, 74);
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 20px/50%;
    border: 0;
    justify-content: center;
    margin-top: 10px;
    cursor:pointer
}
.Learnmore:hover{
    background-color:rgb(120, 184, 108);
}
.organic{
    background-color: #63A651;
    height: 400px;
    padding: 5% 10%;
}
span{
    display: flex;
}
.organic-section{
    display: flex;
    justify-content: space-around;
}
.organic-left{
    display: flex;
    flex-direction: column;
}
.organic-title{
    color: #27682E;
    margin-bottom: 10px;
    margin-left: 10px;
}
.organic-desc{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.organic-content{
    color: #223240;
    margin-bottom: 10px;
}
.organic-learnmore{
    margin-top: 10px;
    background-color: #27682E;
    color: white;
    border: none;
    border-radius: 0 20px;
    height: 1.5rem;
    width: 25%;
    font-size: 0.9rem;
}
.organic-right-img {
    float: right;
    width: 300px; 
    height: auto;
}
.product{
    background-color: #E0FFC1;
    height: 100%;
}
.product-title{
    padding-top: 5%;
    color: #223240;
}
.product-heading{
    color: #347355;
    font-weight: 100;
    font-size: 60px;
    margin-bottom: 10px;
}
.product-cards{
    padding-top: 5%;
}
.product-row1,
.product-row2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.product-header{
text-align: center;
}
#btn{
    font-size: 10px;
    border-radius: 12px;
    width: 70px;
    height: 25px;
    float: right;
    border: none;
    background-color: #223240;
    color: white;
}

.product1 > button,
.product2 > button,
.product > button,
.product4 > button,
.product5 > button,
.product6 > button{
  margin-bottom: 10px;
}
.product1 > div > img,
.product2 > div > img,
.product3 > div > img,
.product4 > div > img,
.product5 > div > img,
.product6 > div > img{
   width: 9%;
}
.product1{
    background-color: #63A651;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;

}
.product2{
    background-color: #D9C723;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product3{
    background-color: #93D94E;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product4{
    background-color: #93D94E;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product5{
    background-color: #63A651;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product6{
    background-color: #D9C723;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product-img1,
.product-img2,
.product-img3,
.product-img4,
.product-img5,
.product-img6{
    margin: 10% 10%;
    width: 80%;
}
.product1 div:nth-child(4),
.product2 div:nth-child(4),
.product3 div:nth-child(4),
.product4 div:nth-child(4),
.product5 div:nth-child(4),
.product6 div:nth-child(4)
{
    margin-top: 10px;
}
.product-shopmore{
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #347355;
}
.healthy-orangic{
    height: auto;
}
.healthy-title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: #347355;
}
.healthy-desc{
    text-align: center;
    font-size: 10px;
    margin-bottom: 5%;
}
.healthy-product-row1,
.healthy-product-row2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5% ;
}
.healthy-product img{
    margin-top: -30px;
    width: 100px;
}
.healthy-product-1 div,
.healthy-product-2 div,
.healthy-product-3 div,
.healthy-product-4 div{
    margin-bottom: 10px;
}
.healthy-product-1{
    text-align: center;
    background-color: #D9C723;
    width: 200px;
}
.healthy-product-2{
    text-align: center;
    background-color: #93D94E;
    width: 200px;
}
.healthy-product-3{
    text-align: center;
    background-color: #93D94E;
    width: 200px;
}
.healthy-product-4{
    text-align: center;
    background-color:#D9C723;
    width: 200px;
}
.hp-btn1,
.hp-btn2,
.hp-btn3,
.hp-btn4{
    margin-bottom: 10px;
    font-size: 10px;
    border-radius: 12px;
    width: 70px;
    height: 25px;
    border: none;
    background-color: #223240;
    color: white;
}
.hp-shopMore{
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #347355;
}
.review{
    height: auto;
    background-color: #93D94E;
}
.review-title{
    color: #27682E;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}
.review-content{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}
.review-content > div{
    width: 150px;
    height: auto;
    background-color: #223240B8;
    color: white;
    border-radius: 0px 15px;
    text-align: center;
    padding: 10px;
}
#review-author{
    margin: 10px;
    float: right;
}
.footer {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('./Assets/brooke-lark-HlNcigvUi4Q-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(236, 234, 234, 0.9); 
    z-index: 1;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-header,
.footer-content {
    position: relative;
    z-index: 2; 
}

.footer-header{
    padding: 3% 5% 0%;
}
.footer-left {
    padding: 10%;
    position: relative;
}

.footer-image1 {
    width: 250px;
    position: absolute;
    top: 0%; 
    left: 0%; 
}

.footer-image2 {
    position: absolute;
    top: 50%; 
    left: 50%; 
}

.footer-image3 {
    position: absolute;
    top: 95%; 
    left: 100%; 
}
.footer-right{
  padding: 3% 10%;
  align-self: center;
}
.footer-download{
    color: #27682E;
}
.footer-right  img{
    width: 150px;
    height: 150px;
}
.footer-bottom {
    background-color: #333;
    color: #fff; 
    padding: 20px 0;
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
}

.footer-bar1,
.footer-bar2 {
    flex: 1; 
}

.footer-bar1 {
    font-size: 14px;
}

.footer-bar2 {
    text-align: right; 
}

.footer-bar2 div {
    display: inline-block;
    margin-left: 20px; 
}

.footer-bar2 div a {
    color: #fff; 
    text-decoration: none;
}

.footer-bar2 div a:hover {
    text-decoration: underline;
}
@media screen and (max-width:400px){
    .header{
        height: 100px;
    }
}