body{
    padding: 0;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
}
.navbar a{
    text-decoration: none;
    color: #60BF81    ;
    font-weight: bolder;
    background-color: #000;
}
.left > * {
    display: inline-block;
    margin-right: 30px; 
}
.header{
    height: 500px;
    background-image: url(../Assets/HomePage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10px;
    color: #347355;
}
.show-btn{
    background-color: #93D94E;
    color: #000;
    border-radius: 50px;
    height: 10%;
    width: 19%;
    border: none;
    padding: 10px;
    cursor: pointer;
}