body{
    padding: 0;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bolder;
}
.navbar a{
    text-decoration: none;
    color: #60BF81    ;
    font-weight: bolder;
    background-color: #000;
}
.left > * {
    display: inline-block;
    margin-right: 30px; 
}
.header{
    height: 500px;
    background-image: url(../Assets/HomePage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.about{
    background-color: #93D94E;
    color: green;
    height: 500px;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    font-size: 60px;
    font-weight: bolder;
    margin-top: 10px;
    color: #347355;
}
.show-btn{
    background-color: #93D94E;
    color: #000;
    border-radius: 50px;
    height: 10%;
    width: 19%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.about{
    background-color: #93D94E;
    color: rgb(6, 51, 6);
    overflow: auto;
    width: 100%;
    height: 500px;

}
.flexbox{
    display: flex;
    justify-content: space-evenly;
}
.img{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;    
}
.market{
    width: 15rem;
    height: 15rem;
    margin-right: 100px;
    border-radius: 15px 0px;
}
.tomato{
    position: absolute;
    margin-top: 30%;
    width: 15rem;
    height: 15rem;
    margin-left: 20%;
    border-radius: 15px 0px;
}
.content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: auto;
    text-align: center;
    font-size: 20px;
    word-spacing:5px;
}
.Learnmore{
    background-color: rgb(74, 147, 74);
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 20px/50%;
    border: 0;
    justify-content: center;
    margin-top: 10px;    
}
.organic{
    background-color: #63A651;
    height: 400px;
    padding: 5% 10%;
}
span{
    display: flex;
}
.organic-section{
    display: flex;
    justify-content: space-around;
}
.organic-left{
    display: flex;
    flex-direction: column;
}
.organic-title{
    color: #27682E;
    margin-bottom: 10px;
    margin-left: 10px;
}
.organic-desc{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.organic-content{
    color: #223240;
    margin-bottom: 10px;
}
.organic-learnmore{
    margin-top: 10px;
    background-color: #27682E;
    color: white;
    border: none;
    border-radius: 0 20px;
    height: 1.5rem;
    width: 25%;
    font-size: 0.9rem;
}
.organic-right-img {
    float: right;
    width: 300px; 
    height: auto;
}
.product{
    background-color: #E0FFC1;
    height: 100%;
}
.product-title{
    padding-top: 5%;
    color: #223240;
}
.product-heading{
    color: #347355;
    font-weight: 100;
    font-size: 60px;
    margin-bottom: 10px;
}
.product-cards{
    padding-top: 5%;
}
.product-row1,
.product-row2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.product-header{
text-align: center;
}
#btn{
    font-size: 10px;
    border-radius: 12px;
    width: 70px;
    height: 25px;
    float: right;
    border: none;
    background-color: #223240;
    color: white;
}

.product1 > button,
.product2 > button,
.product > button,
.product4 > button,
.product5 > button,
.product6 > button{
  margin-bottom: 10px;
}
.product1 > div > img,
.product2 > div > img,
.product3 > div > img,
.product4 > div > img,
.product5 > div > img,
.product6 > div > img{
   width: 9%;
}
.product1{
    background-color: #63A651;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;

}
.product2{
    background-color: #D9C723;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product3{
    background-color: #93D94E;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product4{
    background-color: #93D94E;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product5{
    background-color: #63A651;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product6{
    background-color: #D9C723;
    width: auto;
    padding: 10px;
    border-radius: 30px 0%;
}
.product-img1,
.product-img2,
.product-img3,
.product-img4,
.product-img5,
.product-img6{
    margin: 10% 10%;
    width: 80%;
}
.product1 div:nth-child(4),
.product2 div:nth-child(4),
.product3 div:nth-child(4),
.product4 div:nth-child(4),
.product5 div:nth-child(4),
.product6 div:nth-child(4)
{
    margin-top: 10px;
}
.product-shopmore{
    font-family: 'Roboto',sans-serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: #347355;
}
.healthy-orangic{
    height: 500px;
}
.healthy-title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10px;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    color: #347355;
}
.healthy-desc{
    text-align: center;
    font-size: 10px;
    margin-bottom: 5%;
}
.healthy-product-row1,
.healthy-product-row2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.healthy-product img{
    width: 100px;
}